@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

:root{
	/* Color */
	--white-color: #fff;
	--black-color: #000000;
	--grey-white-color: #f6f6f6;
	--grey-color: #a0a0a0;
	--grey-dark-color: #2a2a2a;
	
	/* Size */
	--service-margin: 150px;
	--icon-padding: 10px;
	--icon-size: 164px;
	--max-side-size: 1100px; /* 반응형 웹 맥스사이즈 */
		
	/* Font Size */
	--font-large: 38px;
	--font-medium: 18px;
	--font-small: 12px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
button{
	cursor: pointer;
}
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

/* Header */
body header{
	background-color: var(--grey-dark-color);
	height: 50px;
	
	padding-left: 40px;
	padding-right: 40px;
	
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
}
body header .nav{
	font-size: var(--font-small);
	
	padding: 0;
	border: none;
	background: none;
	color: var(--grey-color);
}
body header .nav:hover{
	filter: brightness(130%);
	transition: all 0.5s;
}

/* main */
main{
	display: flex;
	flex-direction: column;
	align-items: left;
}
main #OnlyApple{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	
	margin-top: var(--service-margin);
}
main #OnlyApple #title1{
	opacity: 0%;
}
main #OnlyApple #title2{
	padding-bottom: 20px;
	opacity: 0%;
}
main #OnlyApple .text{
	font-size: var(--font-medium);
	color: var(--grey-color);
	line-height: 25px;
	
	opacity: 0%;
}

main #TV{
	opacity: 0%;
}
main .services{
	width: 100%;
		
	margin-top: var(--service-margin);
}
main .OnVideo{
	overflow: hidden;
	
  	position: relative;
}
main .services .bg_vid{
	height: 550px;
}
main .services .Show{ 
	color: var(--black-color);
	font-size: var(--font-medium);
	
	width: 80%;
	
	margin-left: 10%
}
main .OnVideo .Show{
	position: absolute;
	top: 38%;
	
	--white-color: black; /* reverse color for text on video */
	--black-color: white;
}
main .services .Show .Logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}
main .services .Show .Logo img{
	width: 35px;
}
main .services .Show .Logo .Title{
	padding-left: 10px;
	padding-right: 10px;
}
main .services .Show .Logo .onOne{
	font-size: var(--font-small);

	height: 20px;	
	width: 100px;
	border: solid var(--black-color) 1px;
	border-radius: 30px;
	
	
	text-align: center;
}
main .services .Show .Info{
	font-size: 25px;
	font-weight: bold;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
}
main .services .Show .Selection{
	display: flex;
	flex-direction: row;
	
	font-size: 14px;
	
	align-items: center;
}
main .services .Show .Selection button{
	background: none;
	border: solid var(--black-color) 1px;
	border-radius: 20px;
	
	color: var(--black-color);
	font-weight: bold;
	
	padding: 8px;
	margin-top: 10px;
}
main .services .Show .Selection button:hover{
	filter: brightness(130%);
	transition: all 0.5s;
}
main .services .Show .Selection .button{
	background: var(--black-color);
	color: var(--white-color);
}
main .services .Show .Selection .more{
	margin-left: 10px;
	border: none;
}
main .OnVideo .Show .Selection .more{
	border: solid var(--black-color) 1px;
}
main .services .Show .Selection .morelink{
	margin-left: 10px;
	font-size: 14px;
}
main .services .Show .Selection .margin{
	flex: 1;
}
main .services .Show .VideoInfo{
	font-size: var(--font-medium);
	color: var(--grey-color);
	
	padding: 6px;
}

main .services .ShowCase{
	display: flex;
	flex-direction: row;
}
main .services .ShowCase .container{
	line-height: 14px;
	
	display: flex;
	flex-direction: column;
	
	position: relative;
	
	left: 0;
	
	margin: 10px;
}
main .services .ShowCase .container img{
	width: 300px;
	
	border-radius: 7px;
}
main #music .ShowCase .container img{
	width: 160px;
}
main .services .ShowCase .container .title{
	font-size: var(--font-small);
	color: var(--grey-dark-color);
	
	padding-top: 8px;
}
main .services .ShowCase .container .subtitle{
	font-size: var(--font-small);
	color: var(--grey-color);

	padding-bottom: 8px;
}

main #one{
	background-color: var(--grey-white-color);
	
	padding: 20px;
}
main #one .Show{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	align-items: center;
	text-align: center;
	font-weight: bold;
}
main #one *{
	margin: 10px;
}
main #one #icons{
	padding-left: 20px;
}
main #one .Show .Selection{
	margin: 0;
}

main #Wallet{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
} 
main #Wallet #text{
	padding-bottom: 20px; 
}
main #Wallet #Show{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	
	width: 700px;
	height: 300px;
	background-color: #E8DCCA;
	border: none;
	border-radius: 20px;
}
main #Wallet #Show:hover{
	filter: brightness(105%);
	transition: all 0.5s;
}
main #Wallet #Show #Info{
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	
	margin-left: 100px;
}
main #Wallet #Show #Info #Logo{
	display: flex;
	flex-direction: row;
	
	align-items: center;
}
main #Wallet #Show #Info #Logo div{
	padding: 8px;
	
	font-size: 18px;
}
main #Wallet #Show #Info #WalletInfo{
	padding-top: 14px;
	padding-bottom: 14px;
	
	font-size: 20px;
	line-height: 23px;
}
main #Wallet #Show #Info #more{
	font-size: 13px;
}

/* footer */
footer{
	background-color: var(--grey-white-color);
	
	font-size: var(--font-small);
	color: var(--grey-color);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
footer #rule{
	padding: 20px;
}
footer #rule ul{
	list-style: none;
}
footer #rule ul li{
	padding-bottom: 10px;
}
footer hr{
	color: var(--grey-color);
	width: calc(100% - 40px);
}
footer #support{
	width: 100%;
	
	display: flex;
	flex-direction: column;
	
	padding: 20px;
}
footer #support #loot{
	display: flex;
	flex-direction: row;
	
	padding-bottom: 20px;
}
footer #support #loot img{
	width: 15px;
	filter:brightness(60%);
}
footer #support #loot div{
	font-size: 15px;;
	color: var(--grey-color);
	
	padding-left: 10px;
}
footer #support #container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer #support #container .columns .contents{
	padding-bottom: 10px;
}
footer #support #container .columns .contents li{
	padding-bottom: 8px;
}
footer #support #container .columns .contents .index{
	padding-bottom: 8px;
	color: var(--grey-dark-color);
}
footer #copyright{
	width: 100%;
}
footer #copyright div{
	padding: 8px;
}
footer #copyright hr{
	width: 100%;
}
